Es 1

Write a program that asks the user for the base and height of
a rectangle. Then print the perimeter and area value
of the rectangle.

In [3]:
# compute_perimeter (b, h) function that receives two parameters (base, height) in input and compute the perimeter
def compute_perimeter(b,h):
  return 2*b+2*h

# computer_area (b, h) function that receives two parameters (base, height) in input and computer the area
def computer_area(b,h):
  return b*h

# write the instructions to receive in input base and height and call the functions
base = int(input('Enter the base: '))
height = int(input('Enter the height: '))
print('The perimeter is: ', compute_perimeter(base, height))
print('The area is: ', computer_area(base, height))

Enter the base: 10
Enter the height: 10
The perimeter is:  40
The area is:  100

Es 2

s = input("What is your name? ")

Print the type of the variable s, the length, the first and last character.

In [4]:
s = input("What is your name? ")

#Print the type of the variable s,
print(type(s))

#the length,
print(len(s))

#the first and last character.
print(s[0])
print(s[-1])

What is your name? alessio
<class 'str'>
7
a
o

Es 3

Write a program that asks for two numbers. If the sum of the two
number exceeds 100, print ``Number too large''

In [6]:
# ask number x
x = int(input('Enter the first number: '))
# ask number y
y = int(input('Enter the second number: '))
# compute the sum
sum = x + y
# verify the condition and add print
if sum > 100:
  print('Number too large')

Enter the first number: 100
Enter the second number: 1
Number too large

Es 4
*   Fill an initially empty list with 10 values ​​read from keyboard.
*   Print the largest and smallest value contained in the list

In [12]:
# Empty list
my_list = []

# Iterate
for i in range(10):
    # Ask for value
    value = int(input('Enter the ' + str(i+1) + ' value: '))
    # Fill
    my_list.append(value)

# Initialize max and min with the first element
max_value = my_list[0]
min_value = my_list[0]

# Iterate and check which is the max and the min
for i in range(1, 10):
    if my_list[i] > max_value:
        max_value = my_list[i]
    if my_list[i] < min_value:
        min_value = my_list[i]

# Print max and min
print('The max value is:', max_value)
print('The min value is:', min_value)

Enter the 1 value: 6
Enter the 2 value: 7
Enter the 3 value: 8
Enter the 4 value: 5
Enter the 5 value: 4
Enter the 6 value: 3
Enter the 7 value: 2
Enter the 8 value: 1
Enter the 9 value: 0
Enter the 10 value: 7
The max value is: 8
The min value is: 0

Es 5

After importing the numpy module create an array
of 100 random numbers with integer values ​​between 0 and
50.

Print all numbers greater than the mean and their location (i.e., index in the array)

NB: You find hints in the documentation

In [20]:
# import the numpy
import numpy as np

# create an array of 100 random numbers between 0 and 50
my_array = np.random.randint(0, 51, 100)

# compute the mean
mean = np.mean(my_array)

print(f'Mean of the array: {mean:.2f}\n')

# Print the numbers greater than the mean and their locations
print('Numbers greater than the mean:')
for i in range(100):
    if my_array[i] > mean:
        print(f'The number is: {my_array[i]}, The location is: {i}')

Mean of the array: 25.24

Numbers greater than the mean:
The number is: 48, The location is: 0
The number is: 28, The location is: 1
The number is: 26, The location is: 3
The number is: 32, The location is: 9
The number is: 43, The location is: 12
The number is: 33, The location is: 13
The number is: 42, The location is: 15
The number is: 41, The location is: 17
The number is: 26, The location is: 18
The number is: 26, The location is: 19
The number is: 30, The location is: 20
The number is: 40, The location is: 22
The number is: 28, The location is: 24
The number is: 30, The location is: 25
The number is: 44, The location is: 26
The number is: 27, The location is: 27
The number is: 49, The location is: 28
The number is: 48, The location is: 29
The number is: 50, The location is: 35
The number is: 28, The location is: 37
The number is: 32, The location is: 39
The number is: 44, The location is: 43
The number is: 26, The location is: 44
The number is: 29, The location is: 45
The number is: 49, The location is: 46
The number is: 49, The location is: 48
The number is: 45, The location is: 49
The number is: 41, The location is: 50
The number is: 37, The location is: 56
The number is: 27, The location is: 57
The number is: 26, The location is: 58
The number is: 33, The location is: 59
The number is: 38, The location is: 63
The number is: 30, The location is: 64
The number is: 41, The location is: 65
The number is: 33, The location is: 66
The number is: 33, The location is: 67
The number is: 45, The location is: 68
The number is: 37, The location is: 69
The number is: 41, The location is: 72
The number is: 47, The location is: 73
The number is: 46, The location is: 74
The number is: 31, The location is: 75
The number is: 45, The location is: 81
The number is: 38, The location is: 82
The number is: 42, The location is: 83
The number is: 29, The location is: 84
The number is: 46, The location is: 85
The number is: 30, The location is: 86
The number is: 27, The location is: 89
The number is: 33, The location is: 90
The number is: 47, The location is: 91
The number is: 33, The location is: 92
The number is: 37, The location is: 95
The number is: 28, The location is: 98

Es 6

Write a multiplier function(number_list) that
given a list of numbers, multiply all of them together and returns the result. If the
list is empty returns 0.

In [21]:
# define the function
def multiplier(number_list):
  # check if it is empty
  if len(number_list) == 0:
    return 0
  # multiple the values
  for i in range(len(number_list)-1):
    number_list[i+1] = number_list[i] * number_list[i+1]
  return number_list[-1]

# define the list
my_list = [1, 2, 3, 4, 5]
# call the function
multiplier(my_list)

120

Es 7

Write a countdown(string) function.
The function takes a string as a parameter and returns the reversed
string after making it lowercase all the
characters and in uppercase only the last character (e.g
example "abcd" becomes "dcbA"). Also manage the
empty string case.

In [24]:
def countdown(string):
  if len(string) == 0:
    return None
  string = string.lower() # mette in lowercase tutti i char
  string = string[::-1] # string[start:stop:step]
  string = string[:-1] + string[-1].upper() # concatena con l'ultimo char in uppercase
  return string

my_string = str(input('Enter a string: '))
print(countdown(my_string))

Enter a string: ciao
oaiC

Es 8

Write a function frequency(string). The function
takes a string as a parameter and returns a
dictionary representing the frequency of each
character component of the string.
For example, given a string "ababcc", the
function returns result {"a": 2, "b": 2, "c":
2}.

In [25]:
def frequency(string):
  if len(string) == 0:
    return None
  result = {}

  for char in string:
    # Controlla se il carattere è già presente nel dizionario
    if char in result:
      result[char] += 1
    else:
      result[char] = 1
  return result

my_string = str(input('Enter a string: '))
print(frequency(my_string))

Enter a string: ababcc
{'a': 2, 'b': 2, 'c': 2}